:root {
    --main-content-max-width: 780px;
    --gap: 18px;
    --content-size: 780px;
    --menu-size: 300px;
    --border-radius: 6px;
}

/*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
 */

html {
    height: 100%;
    color-scheme: var(--color-scheme);
    color: var(--color);
    background-color: var(--background);
}

.block {
    background-color: var(--blockBackground);
}

.text-muted {
    color: var(--muted);
}
